---
title: About me
education:
  - period: 2013 – 2014
    degree: "M.S. in Earth Science, Speciality in Geosciences, Georiskc, Georesources"
    thesis: "Thesis: Analysis of the Seismicity in the Central Margin of Ecuador"
    advisors: "P. Charvis, M. Regnier"
  - period: 2006 – 2011
    degree: "B.S. in Engineering in Geology"
    thesis: "Impact of Tsunami on the Coast of the Gulf of Guayaquil Based on the Analysis of Local Seismicity using Numerical Simulation"
    advisors: "M. Ioualalen, C. Martillo"
experience:
  - period: "08/2022 – present"
    role: "Research Assistant in Earth and Environmental Science at Lehigh University, PA - United States"
  - period: "09/2014 – 07/2022"
    role: "Seismology Researcher at the Instituto Geofisico de la Escuela Politecnica Nacional, Quito - Ecuador"
  - period: "02/2014 – 07/2014"
    role: "Internship at GEOAZUR, Nice - France"
  - period: "10/2011 – 12/2013"
    role: "Researcher at the Instituto Oceanografico de la Armada, Guayaquil - Ecuador"
teaching:
  - period: "Spring 2025"
    role: "Exploring Earth: A Natural Science Laboratory Course (EES-022)"
  - period: "Fall 2023"
    role: "Seismology: The Earth and Environment (EES-201)"
funding:
  - amount: $8,364
    award: Marjorie Nemes Fellowship in the Department of Earth & Environmental Sciences
    period: May-August, 2025
  - amount: $13,535
    award: NSF Grant
    period: August-December, 2024
  - amount: $8,121
    award: NSF Grant
    period: May-August, 2024
  - amount: $12,750
    award: NSF Grant
    period: January-May 2024
  - amount: $4,700
    award: Marjorie Nemes Fellowship in the Department of Earth & Environmental Sciences
    period: June-August 2023
  - amount: $2,350
    award: Marjorie Nemes Fellowship in the Department of Earth & Environmental Sciences
    period: May-June 2023
  - amount: $11,750
    award: NSF Grant
    period: January-May 2023
  - amount: $11,750
    award: NSF Grant
    period: August-December 2022


---
<section>
  <h2>Education</h2>
  <ul class="timeline">
    {% for e in page.education %}
      <li>
        <span class="date">{{ e.period }}</span>
        <div class="details">
          <strong>{{ e.degree }}</strong><br/>
          {{ e.thesis }}<br/>
          <em>Advisors:</em> {{ e.advisors }}
        </div>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Professional Experience</h2>
  <ul class="timeline">
    {% for a in page.experience %}
      <li>
        <span class="date">{{ a.period }}</span>
        <div class="details">{{ a.role }}</div>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Teaching Experience</h2>
  <ul class="timeline">
    {% for a in page.teaching %}
      <li>
        <span class="date">{{ a.period }}</span>
        <div class="details">{{ a.role }}</div>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Funding</h2>
  <ul class="timeline">
    {% for f in page.funding %}
    <li>
      <span class="date">{{ f.amount }}</span>
      <div class="details">
        {{ f.award }}<br/>
        <em>{{ f.period }}</em>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
