---
layout: default
title: Publications
---

<section class="publications">
  <h2>Publications</h2>
  <ul class="pub-list">
    {% for p in site.data.publications %}
      <li>
        {% assign authors = p.authors 
             | replace: 'Ponce G.', '<strong>Ponce G.</strong>' %}
        {{ authors | strip }} (<strong>{{ p.year }}</strong>). <em>{{ p.title }}</em>. 
        {{ p.journal }}
        {% if p.volume %}, Vol. {{ p.volume }}{% endif %}
        {% if p.issue %} ({{ p.issue }}){% endif %}
        {% if p.pages %}, pp. {{ p.pages }}{% endif %}.
        DOI: <a href="https://doi.org/{{ p.doi }}">{{ p.doi }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="preparation">
  <em><h2>Manuscripts in preparation</h2><em>
  <ul class="pub-list">
    {% for p in site.data.preparation %}
      <li>
        {% assign authors = p.authors 
             | replace: 'Ponce G.', '<strong>Ponce G.</strong>' %}
        {{ authors | strip }} (<strong>{{ p.year }}</strong>). <em>{{ p.title }}</em>. 
      </li>
    {% endfor %}
  </ul>
</section>

<section class="presentations">
  <div class="container">
    <h2>Seminars and Invited Presentations</h2>
    <ul class="pub-list timeline">
      {% for s in site.data.presentations %}
        <li>
          <strong>{{ s.institution }}</strong>, <em>{{ s.type }}</em> ({{ s.date }})
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="conference-presentations">
  <div class="container">
    <h2>Conference Presentations</h2>
    <h3>Conference Posters</h3>
    <ul class="pub-list timeline">
      {% for c in site.data.conferences %}
        <li>
          {% assign authors = c.authors 
             | replace: 'Ponce G.', '<strong>Ponce G.</strong>' %}
          {{ authors | strip }} (<strong>{{ c.year }}</strong>). {{ c.title }}. <em>{{ c.event }}</em>, {{ c.location }}.
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
